<!-- <ion-header class="home-header">
    <ion-grid>
        <ion-row>
            <ion-col col-2 text-left (click)="goBack()">
                <ion-icon class="icons" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </ion-col>
            <ion-col col-8 text-center>
                <ion-title class="title">Sub Category Form</ion-title>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header> -->

<ion-content *ngIf="service" text-center padding>
    <form (ngSubmit)="sendSubServiceQuantity()">

        <!-- <ion-item *ngFor="let subService of service.subService">
            <ion-label >{{subService}}</ion-label>          
            <ion-input type="number" name="sparerate-{{subService}}" [(ngModel)]="subService.Quantity" placeholder="Quantity"></ion-input>
        </ion-item> -->

        <ion-row *ngFor="let subService of service.subService">
                <ion-col>
                  {{subService.subServiceName}}
                </ion-col>
                <ion-col>
                        <ion-label fixed>Type</ion-label>
                <ion-select name="servicetype" [(ngModel)]="subService.type" multiple>
                    <ion-option *ngFor="let type of service.servicetype" [value]="type">{{type}}</ion-option>
                </ion-select>
                </ion-col>
                <ion-col>
                  <ion-input type="number" name="sparerate-{{subService.id}}" [(ngModel)]="subService.quantity"></ion-input>
                </ion-col>
                <!-- <ion-col>
                    <ion-icon ios="ios-close" md="md-close" (click)="removeSpare(spare)"></ion-icon>
                </ion-col> -->
          
              </ion-row>
        <button class="btn-hrx" type="submit" ion-button round><ion-icon class="icons navigate nav-request" ios="ios-navigate" md="md-navigate"></ion-icon>Ok</button>
            
    </form>
</ion-content>