page-profile {}

.manageAddress {
    width: 25px;
    margin-top: 3px;
}

.profile-item {
    padding-left: 0px;
    .text-input-md {
        margin: 0;
    }
    ion-label {
        color: $placeholderColor;
    }
    .selectType {
        padding: 0;
        padding-right: 10px;
        width: 32%;
        +.selectType {
            text-align: center;
        }
        &:last-child {
            width: 28%;
        }
    }
    .addItem {
        position: absolute;
        right: 0px;
        bottom: 0;
        font-size: 16px;
        .addBtn {
            color: $btnBlue;
        }
        .cancelBtn {
            color: $colorBlack;
        }
    }
    .prdListView {
        width: 100%;
        color: $colorBlack;
        .listView {
            display: inline-block;
            width: 25%;
            margin-right: 20px;
        }
    }
}

input[type=number] {
    -moz-appearance: textfield;
}

.profileListView.item-md.item-block .item-inner {
    border-bottom: none;
}

.profileListView {
    background: $colorGray;
    margin: 5px 0;
    border-radius: 25px;
    padding-left: 10px;
}

.profile-img {
    width: 100px;
    height: 100px;
    margin: 40px auto;
    position: relative;
    .icon-create {
        position: absolute;
        font-size: 12px;
        color: $colorWhite;
        top: 3px;
        right: 3px;
        background: $btnBlue;
        padding: 5px 5px;
        border-radius: 50%;
        border: 2px solid $colorWhite;
    }
}

// .profile-fields {
//     .item-block:last-child .item-inner,
//     .item-wrapper:last-child ion-label,
//     .item-wrapper:last-child .item-inner {
//         border-bottom: 1px solid #dedede;
//     }
//     .item-input:last-child {
//         border: none;
//     }
//     .item-input.item-input-has-focus:last-child,
//     .item-input.input-has-focus:last-child {
//         border: none;
//         box-shadow: none;
//     }
//     .item-input.item-input-has-focus,
//     .item-input.input-has-focus {
//         border: none;
//         box-shadow: none;
//     }
// }
.navigator.nav-request {
    margin: 10px 0;
}

.block {
    display: block;
}

ion-input::palceholder {
    color: #000;
}

// input-has-focus item-input-has-focus
// .header .col {
//     background-color: lightgrey;
// }
// .colTable {
//     border: solid 1px grey;
//     border-bottom-style: none;
//     border-right-style: none;
// }
// .colTable:last-child {
//     border-right: solid 1px grey;
// }
// .tableHead:last-child .colTable {
//     border-bottom: solid 1px grey;
// }