<!--<ion-header class="home-header">
    <ion-grid>
        <ion-row>
            <ion-col col-2 text-left (click)="goBack()">
                <ion-icon class="icons" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>-->

<ion-content *ngIf="service" text-center padding>
    <form (ngSubmit)="sendSubServiceQuantity()">
        <ion-grid>
            <ion-row>
                <ion-col>
                    Type
                </ion-col>
                <ion-col>
                    Tonage
                </ion-col>
                <ion-col>
                    Qty
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let subService of service.subService">
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-label>Gaming</ion-label>
                            <ion-select interface="popover">
                                <ion-option value="nes">NES</ion-option>
                                <ion-option value="n64">Nintendo64</ion-option>
                                <ion-option value="ps">PlayStation</ion-option>
                                <ion-option value="genesis">Sega Genesis</ion-option>
                                <ion-option value="saturn">Sega Saturn</ion-option>
                                <ion-option value="snes">SNES</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                    <!--<ion-select name="servicetype" [(ngModel)]="subService.type" multiple>
                        <ion-option *ngFor="let type of service.servicetype" [value]="type">Split Ac</ion-option>
                    </ion-select>-->
                </ion-col>
                <!--<ion-col>
                    <ion-select name="servicetype" [(ngModel)]="subService.type" multiple>
                        <ion-option *ngFor="let type of service.servicetype" [value]="type">{{type}}</ion-option>
                    </ion-select>
                </ion-col>-->
            </ion-row>
        </ion-grid>
        <button class="btn-hrx" type="submit" ion-button round><ion-icon class="icons navigate nav-request" ios="ios-navigate" md="md-navigate"></ion-icon>Ok</button>
    </form>

    <!--<form (ngSubmit)="sendSubServiceQuantity()">
        <ion-row *ngFor="let subService of service.subService">
            <ion-col>
                {{subService.subServiceName}}
            </ion-col>
            <ion-col>
                <ion-label fixed>Type</ion-label>
                <ion-select name="servicetype" [(ngModel)]="subService.type" multiple>
                    <ion-option *ngFor="let type of service.servicetype" [value]="type">{{type}}</ion-option>
                </ion-select>
            </ion-col>
            <ion-col>
                <ion-input type="number" name="sparerate-{{subService.id}}" [(ngModel)]="subService.quantity"></ion-input>
            </ion-col>

        </ion-row>
        <button class="btn-hrx" type="submit" ion-button round><ion-icon class="icons navigate nav-request" ios="ios-navigate" md="md-navigate"></ion-icon>Ok</button>

    </form>-->
</ion-content>