page-profile {}

input[type=number] {
    -moz-appearance: textfield;
}

.profile-img {
    width: 100px;
    height: 100px;
    margin: 40px auto;
    position: relative;
    .icon-create {
        position: absolute;
        font-size: 12px;
        color: #fff;
        top: 3px;
        right: 3px;
        background: #6747cd;
        padding: 5px 5px;
        border-radius: 50%;
        border: 2px solid #fff;
    }
}

// .profile-fields {
//     .item-block:last-child .item-inner,
//     .item-wrapper:last-child ion-label,
//     .item-wrapper:last-child .item-inner {
//         border-bottom: 1px solid #dedede;
//     }
//     .item-input:last-child {
//         border: none;
//     }
//     .item-input.item-input-has-focus:last-child,
//     .item-input.input-has-focus:last-child {
//         border: none;
//         box-shadow: none;
//     }
//     .item-input.item-input-has-focus,
//     .item-input.input-has-focus {
//         border: none;
//         box-shadow: none;
//     }
// }
.navigator.nav-request {
    margin: 10px 0;
}

.block {
    display: block;
}

// input-has-focus item-input-has-focus