page-status {
    .input {
        border: 1px solid $colorBlack;
    }
}

.status-line {
    margin-right: 75px;
}

ul {
    padding: 0px;
    &.rating li {
        padding: 5px 10px !important;
        background: none;
        color: $fontGreen;
        ion-icon {
            font-size: 30px;
        }
    }
}