p {
    margin: 0;
    padding: 0;
}

page-status {
    .input {
        border: 1px solid $borderLightGray;
        background: $colorLightWhite;
    }
    .statusBlock {
        padding: 25px 0;
        .smileReview {
            .showSmile {
                display: none;
            }
            .hideSmile {
                padding: 2px;
                display: block;
            }
            p {
                color: $borderLightGray;
                padding-top: 4px;
            }
        }
    }
    .status-mark {
        .checkMark {
            border: 1px solid $colorGray;
            display: inline-block;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            text-align: center;
            margin-left: 0;
            ion-icon {
                color: $colorWhite;
                font-size: 14px;
            }
        }
        .requested {
            background: $btnBlue;
            border-color: $btnBlue;
        }
        .closed {
            background: $btnBlue;
            border-color: $btnBlue;
        }
        .approved {
            background: $btnBlue;
            border-color: $btnBlue;
        }
        span {
            display: inline-block;
            font-size: 12px;
            margin-left: 5px;
        }
    }
    .comment-rating {
        .commentAcction {
            font-size: 11px;
            color: $colorLightGray;
        }
        .sendComment {
            margin-top: 15px;
        }
    }
    textarea.text-input {
        resize: none;
    }
    .btn-hrx {
        width: 100%;
        display: block;
    }
}

.status-line {
    margin-right: 75px;
}

ul {
    padding: 0px;
    &.rating li {
        padding: 5px 10px !important;
        background: none;
        color: $fontGreen;
        ion-icon {
            font-size: 30px;
        }
    }
}