<ion-header class="home-header">
    <ion-grid>
        <ion-row>
            <ion-col col-2 text-left (click)="goBack()">
                <ion-icon class="icons" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </ion-col>
            <ion-col col-8 text-center>
                <ion-title class="title">Status</ion-title>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content padding>
    <ion-row class="statusBlock">
        <ion-col col-4 class="status-mark">
            <span class="checkMark {{requested}} {{approved}} {{closed}}"><ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon></span>
            <!--<ion-checkbox color="dark" checked="true" round></ion-checkbox>-->
            <!--<ion-radio class="status-line" [checked]="request.status=='ORDER_REQUESTED' || request.status=='ORDER_ACCEPTED'"></ion-radio>-->
            <span class="checkData">Sent</span>
            <div class="clear"></div>
        </ion-col>
        <ion-col col-4 class="status-mark">
            <span class="checkMark {{approved}} {{closed}}"><ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon></span>
            <!--<ion-radio class="status-line" [checked]="request.status=='ORDER_REQUESTED' || request.status=='ORDER_ACCEPTED'"></ion-radio>-->
            <span class="checkData">Accepted</span>
            <div class="clear"></div>
        </ion-col>
        <ion-col col-4 class="status-mark">
            <span class="checkMark {{closed}}"><ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon></span>
            <!--<ion-radio class="status-line" [checked]="request.status=='ORDER_REQUESTED' || request.status=='ORDER_ACCEPTED'"></ion-radio>-->
            <span class="checkData">Completed</span>
            <div class="clear"></div>
        </ion-col>
    </ion-row>
    <button ion-button class="btn-hrx" [disabled]="request.status == 'ORDER_CLOSED'" (click)="cancelRequest()">Cancel Request</button>
    <div class="clear"></div>

    <div class="comment-rating statusBlock" text-center>
        <p>How was the help you received?</p>
        <ion-row class="statusBlock">
            <ion-col col-1>
            </ion-col>
            <ion-col col-2 class="smileReview">
                <img calss="showSmile" *ngIf="gsmile.gs1" (click)="smileyAdd(1)" src="assets/images/rating1.png">
                <img class="hideSmile" *ngIf="lsmile.ls1" (click)="reSmileyAdd(1)" src="assets/images/rating6.png">
                <p class="commentAcction">Terrible</p>
            </ion-col>
            <ion-col col-2 class="smileReview">
                <img calss="showSmile" *ngIf="gsmile.gs2" (click)="smileyAdd(2)" src="assets/images/rating2.png">
                <img class="hideSmile" *ngIf="lsmile.ls2" (click)="reSmileyAdd(2)" src="assets/images/rating7.png">
                <p class="commentAcction">Bad</p>
            </ion-col>
            <ion-col col-2 class="smileReview">
                <img calss="showSmile" *ngIf="gsmile.gs3" (click)="smileyAdd(3)" src="assets/images/rating3.png">
                <img class="hideSmile" *ngIf="lsmile.ls3" (click)="reSmileyAdd(3)" src="assets/images/rating8.png">
                <p class="commentAcction">Okey</p>
            </ion-col>
            <ion-col col-2 class="smileReview">
                <img calss="showSmile" *ngIf="gsmile.gs4" (click)="smileyAdd(4)" src="assets/images/rating4.png">
                <img class="hideSmile" *ngIf="lsmile.ls4" (click)="reSmileyAdd(4)" src="assets/images/rating9.png">
                <p class="commentAcction">Good</p>
            </ion-col>
            <ion-col col-2 class="smileReview">
                <img calss="showSmile" *ngIf="gsmile.gs5" (click)="smileyAdd(5)" src="assets/images/rating5.png">
                <img class="hideSmile" *ngIf="lsmile.ls5" (click)="reSmileyAdd(5)" src="assets/images/rating10.png">
                <p class="commentAcction">Great</p>
            </ion-col>
        </ion-row>
        <form (ngSubmit)="submitComment()">
            <ion-textarea type="text" rows="4" cols="50" class="input" [(ngModel)]="comment" name="description" placeholder="Write a Comments"></ion-textarea>
            <button ion-button type="submit" class="btn-hrx sendComment">Send Comment</button>
            <div class="clear"></div>
        </form>
    </div>

</ion-content>