page-services {
    .service-block {
        background: rgba(0, 0, 0, 0.5);
    }
}

.ion-service {
    padding: 5px 0px;
}

.menu-toggle {
    display: inline-block;
    padding-top: 5px;
}

.toolbar-md.toolbarContent {
    min-height: 47px;
}

.icon-padding {
    padding-right: 5px;
    color: $colorGray;
}

.content-heading {
    color: $colorLightGray;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 10px;
}

.service-block {
    margin: 0;
    width: 100%;
    h4 {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        color: $colorWhite;
        min-height: 40px;
    }
    .service-img {
        width: 80px;
        height: 105px;
        margin: 10px auto;
        display: table;
        img {
            // height: 100%;
            width: auto;
            margin: auto;
        }
        .service-block-content {
            display: table-cell;
            vertical-align: middle;
        }
    }
}