page-mech-home {
    .addressBlock {
        padding-top: 10px;
        .addressText {
            p {
                color: #fff;
                font-size: 16px;
                .fielsList {
                    min-width: 50%;
                    display: inline-block;
                }
                .userList {
                    width: 50%;
                    display: inline-block;
                }
            }
        }
    }
    h4 {
        font-size: 20px;
        font-weight: 700;
    }
    .userPrice {
        border-top: 1px solid $colorLightWhite;
        padding: 10px 0;
        margin-top: 10px;
        p.finalPrice {
            color: $btnRed;
            border-top: 1px solid $colorLightWhite;
        }
    }
}

// * {
//     white-space: normal;
// }