<!--
  Generated template for the MechHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="home-header">
    <ion-grid>
        <ion-row>
            <ion-col col-2 text-left (click)="goBack()">
                <ion-icon class="icon-back" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </ion-col>
            <ion-col col-8 text-center>
                <ion-title class="title">
                    <h3 class="content-heading" text-center>User Details</h3>
                </ion-title>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>


<ion-content padding>
    <ion-list>
        <!--<ion-list-header text-center>-->
        <h4 text-center>Service Information</h4>
        <!--</ion-list-header>-->
        <!--<ion-item>ServiceName: {{serviceInfo.serviceName}}</ion-item>
    <ion-item>Status: {{serviceInfo.status}}</ion-item>-->
        <ion-item class="addressBlock">
            <div class="addressText">
                    <p><span class="fielsList">Service Info</span></p>
                    
                <p><span class="fielsList">ServiceName</span><span class="userList">:{{serviceInfo.serviceName}},</span></p>
                <p><span class="fielsList">Status</span><span class="userList">:{{serviceInfo.status}},</span></p>
                <div *ngIf="serviceInfo.finalSpare || serviceInfo.finalService">
                <p *ngFor="let serviceSpareInfo of request.finalSpare"><span class="fielsList">{{serviceSpareInfo.sparename}}</span><span class="userList">:{{serviceSpareInfo.sparerate *serviceSpareInfo.rate}},</span></p>
                <p *ngFor="let serviceSpareInfo of request.finalService"><span class="fielsList">{{serviceSpareInfo.name}}, {{serviceSpareInfo.type}}</span><span class="userList">:{{serviceSpareInfo.Price *serviceSpareInfo.rate}},</span></p>
                <p><span class="fielsList">Final Price</span><span class="userList">:{{request.finalCharge}},</span></p>
                </div>
                <p><span class="fielsList">User Info</span></p>
                
                <p><span class="fielsList">user name</span><span class="userList">:{{userRequest.Name}},</span></p>
                <p><span class="fielsList">phone</span><span class="userList">:{{userRequest.Phone}},</span></p>
                <p><span class="fielsList">Alternative Ph</span><span class="userList">:{{userRequest.AltPhone}},</span></p>
                <p><span class="fielsList">Door No </span><span class="userList">:{{userRequest.Door}},</span></p>
                <p><span class="fielsList">Street </span><span class="userList">:{{userRequest.Street}},</span></p>
                <p><span class="fielsList">Area </span><span class="userList">:{{userRequest.Area}},</span></p>
                <p><span class="fielsList">City </span><span class="userList">:{{userRequest.City}}.</span></p>
            </div>
        </ion-item>
    </ion-list>
    <!--<ion-list>
    <ion-list-header>
      User Info
    </ion-list-header>
    <ion-item>user name      : {{userRequest.Name}}</ion-item>
    <ion-item>phone          : {{userRequest.Phone}}</ion-item>
    <ion-item>Alternative Ph :{{userRequest.AltPhone}}</ion-item>
    <ion-item>Door No        :{{userRequest.Door}}</ion-item>
    <ion-item>Street         :{{userRequest.Street}}</ion-item>
    <ion-item>Area           :{{userRequest.Area}}</ion-item>
    <ion-item>City           :{{userRequest.City}}</ion-item>    
  </ion-list>-->
    <button ion-button (click)="startService()" [disabled]="request.status === 'ORDER_CLOSED'" full round>Start Service</button>
</ion-content>