page-profile {}

input[type=number] {
    -moz-appearance: textfield;
}

.menuBar .menu-inner {
    width: 70%;
}

.profile-img {
    width: 100px;
    height: 100px;
    margin: 40px auto;
    position: relative;
    .icon-create {
        position: absolute;
        font-size: 12px;
        color: $colorWhite;
        top: 3px;
        right: 3px;
        background: $btnBlue;
        padding: 5px 5px;
        border-radius: 50%;
        border: 2px solid $colorWhite;
    }
}

.profile-fields {
    .item-block:last-child .item-inner,
    .item-wrapper:last-child ion-label,
    .item-wrapper:last-child .item-inner {
        border-bottom: 2px solid $borderGray;
    }
    .item-input:last-child {
        border: none;
    }
    .item-input.item-input-has-focus:last-child,
    .item-input.input-has-focus:last-child {
        border: none;
        box-shadow: none;
    }
    .item-input.item-input-has-focus,
    .item-input.input-has-focus {
        border: none;
        box-shadow: none;
    }
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.ion-menu-top {
    margin: 45px 0 16px;
}

ion-list .item .item-inner .input-wrapper ion-label {
    color: $borderColor;
}