<ion-header class="home-header">
    <ion-grid>
        <ion-row>
            <ion-col col-2 text-left>
                <ion-icon class="icons" ios="ios-menu" md="md-menu" menuToggle></ion-icon>
            </ion-col>
            <ion-col col-8 text-center>
                <ion-title class="title">
                    <h3 class="content-heading" text-center>Home</h3>
                </ion-title>
            </ion-col>
            <ion-col col-2 text-right>
                <ion-icon class="icons navigate" (click)="sendRequest()" ios="ios-navigate" md="md-navigate"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content class="nav-content">
    <div #map id="map" class="map"> </div>
        <button class="btn-hrx " (click)="sendRequest()" ion-button round><ion-icon class="icons navigate nav-request" ios="ios-navigate" md="md-navigate"></ion-icon>Send Request</button>        
   
    <!-- <div class="map" text-center>
        <button class="btn-hrx " (click)="sendRequest()" ion-button round><ion-icon class="icons navigate nav-request" ios="ios-navigate" md="md-navigate"></ion-icon>Send Request</button>
    </div> -->
    <ion-slides class="comments-tabs" *ngIf="comments && comments.length" autoplay="5000" loop="true" speed="300">
        <ion-slide class="comments" *ngFor="let comment of comments">
            <ion-card class="comment-block">
                <!--<ion-item class="comment-top">
                    <ion-avatar item-start>
                        <img src="assets/images/cus-img.png">
                    </ion-avatar>
                    <h2 class="cus-name">{{comment.user.userName}}</h2>
                    <p class="cus-nav">Akkayyapalem</p>
                    <ion-avatar item-start>
                        <img class="smileReview" *ngIf="comment.rating == 1" src="assets/images/rating1.png">
                        <img class="smileReview" *ngIf="comment.rating == 2" src="assets/images/rating2.png">
                        <img class="smileReview" *ngIf="comment.rating == 3" src="assets/images/rating3.png">
                        <img class="smileReview" *ngIf="comment.rating == 4" src="assets/images/rating4.png">
                        <img class="smileReview" *ngIf="comment.rating == 5" src="assets/images/rating5.png">
                    </ion-avatar>
                </ion-item>-->
                <ion-item class="comment-top">
                    <ion-row>
                        <ion-col col-3 class="slide-imgs">
                            <img src="assets/images/cus-img.png">
                        </ion-col>
                        <ion-col col-6>
                            <h2 class="cus-name">{{comment.user.userName}}</h2>
                            <p class="cus-nav">Akkayyapalem</p>
                        </ion-col>
                        <ion-col class="slide-imgs" col-3>
                            <img class="smileReview" float-right *ngIf="comment.rating == 1" src="assets/images/rating1.png">
                            <img class="smileReview" float-right *ngIf="comment.rating == 2" src="assets/images/rating2.png">
                            <img class="smileReview" float-right *ngIf="comment.rating == 3" src="assets/images/rating3.png">
                            <img class="smileReview" float-right *ngIf="comment.rating == 4" src="assets/images/rating4.png">
                            <img class="smileReview" float-right *ngIf="comment.rating == 5" src="assets/images/rating5.png">
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-card-content class="slide-data">
                    <p class="cus-comment">{{comment.commentText}}</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <!-- <button class="btn-hrx " (click)="sendRequest()" ion-button round><ion-icon class="icons navigate nav-request" ios="ios-navigate" md="md-navigate"></ion-icon>Send Request</button>         -->
    
</ion-content>