page-home {
    .header {
        ion-title {
            h3 {
                color: red;
                font-size: 20px;
                text-align: center;
                background: black;
            }
        }
    }
}