.btn-hrx {
    background: $btnBlue;
}

.map {
    // background: url(../assets/images/map.png) no-repeat center center;
    height: 100%;
    background-size: cover;
}

.navigate {
    -ms-transform: rotate(50deg);
    /* IE 9 */
    -webkit-transform: rotate(50deg);
    /* Chrome, Safari, Opera */
    transform: rotate(50deg);
}

.home-header {
    color: $colorLightGray;
    background: $borderGray;
    // padding: 5px 0;
    .icons {
        font-size: 30px;
        color: $colorLightGray;
    }
}

.nav-content {
    position: relative;
    .scroll-content {
        // margin-top: 70px !important;
    }
    .navigator {
        background: url(../assets/images/navigator.png) no-repeat center center;
        background-size: cover;
        height: 200px;
        .btn-hrx {
            font-size: 18px;
            text-transform: capitalize;
            padding: 20px 30px;
            margin-top: 20px;
        }
    }
    .sendRequest {
        position: relative;
        margin: 0 10px;
        button {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            // margin-left: auto;
            // margin-right: auto;
        }
    }
}

.nav-request {
    margin-right: 10px;
    margin-bottom: 5px;
}

.comment-block {
    .comment-top {
        background: $colorLightWhite;
        h2.cus-name {
            font-size: 18px;
        }
        p.cus-nav {
            font-size: 12px;
        }
    }
    .cus-comment {
        color: $colorPink;
        padding-top: 10px;
        font-size: 14px;
    }
}

.slide-imgs {
    // width: 40px;
    height: 50px;
}

page-home {
    #floating-panel {
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 5;
        background-color: $colorWhite;
        padding: 5px;
        border: 1px solid $borderColor;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }
    #map {
        height: 100%;
    }
    .btn-hrx {
        margin-top: 20px;
    }
    .comments-tabs {
        margin: 10px 0;
        .comments {
            height: auto !important;
            .slide-data {
                min-height: 80px;
                text-align: left;
            }
        }
    }
    ion-slides {
        height: 55%;
        position: absolute;
        bottom: 30px;
        left: 0;
    }
    .statusBlock {
        padding: 25px 0;
        .smileReview {
            .showSmile {
                display: none;
            }
            .hideSmile {
                padding: 2px;
                display: block;
            }
            p {
                color: $borderLightGray;
                padding-top: 4px;
            }
            float: left;
        }
    }
}