<ion-header class="home-header">
    <ion-grid>
        <ion-row>
            <ion-col col-2 text-left>
                <ion-icon class="icons" ios="ios-menu" md="md-menu"></ion-icon>
            </ion-col>
            <ion-col col-8 text-center>
                <ion-title class="title"><img src="assets/images/logo1.png"></ion-title>
            </ion-col>
            <ion-col col-2 text-right>
                <ion-icon class="icons navigate" ios="ios-navigate" md="md-navigate"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content class="nav-content">
  
    <div #map id="map"></div> 
        <button class="btn-hrx" (click)="sendRequest()" ion-button round><ion-icon class="icons navigate nav-request" ios="ios-navigate" md="md-navigate"></ion-icon>Send Request</button>
      
       
        <ion-slides *ngIf="comments && comments.length" direction="vertical" autoplay="5000" loop="true" speed="300" slidesPerView="2">
    <ion-slide class="comments" *ngFor="let comment of comments">
        <ion-card class="comment-block">
            <ion-item class="comment-top">
                <ion-avatar item-start>
                    <img src="assets/images/cus-img.png">
                </ion-avatar>
                <h2 class="cus-name">{{comment.user.userName}}</h2>
                <p class="cus-nav">Akkayyapalem</p>
            </ion-item>
            <ion-card-content>
                <p class="cus-comment">{{comment.commentText}}</p>
            </ion-card-content>
        </ion-card>
    </ion-slide>
</ion-slides>
</ion-content>