page-services-home {
    .slide-temp {
        background-color: rgba(192, 192, 192, 0.8);
    }
    .service-block {
        padding: 5px 16px;
    }
    .termsList {
        margin-left: 15px;
        li {
            // display: block;
            padding-bottom: 5px;
        }
    }
    .dropArrow {
        position: fixed;
        right: 10px;
        bottom: 34px;
        background: #081f2d;
        width: 40px;
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding-left: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-animation: sdb05 1.5s infinite;
        animation: sdb05 1.5s infinite;
        @-webkit-keyframes sdb05 {
            0% {
                -webkit-transform: rotate(-45deg) translate(0, 0);
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                -webkit-transform: rotate(-45deg) translate(-20px, 20px);
                opacity: 0;
            }
        }
        @keyframes sdb05 {
            0% {
                transform: rotate(-45deg) translate(0, 0);
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                transform: rotate(-45deg) translate(-20px, 20px);
                opacity: 0;
            }
        }
        .downArrow {
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            width: 15px;
            height: 15px;
            min-height: 15px !important;
            padding: 0;
            color: #fff;
            margin: 0;
            margin-bottom: 3px;
            margin-left: 2px;
        }
    }
}

ion-spinner * {
    width: 500px;
    height: 500px;
    margin: auto;
    stroke: #444;
    fill: #222;
}

.clear {
    clear: both;
}

.icon-back {
    // color: $colorBlack;
    font-size: 30px;
}

.tittle-name {
    font-size: 30px;
    line-height: 30px;
    .toolbar-title-md {
        color: $colorWhite;
    }
}

.slide-block {
    height: auto;
    // border-bottom: 1px solid #cacfd6;
    .slide-img.swiper-slide {
        height: 200px;
        img {
            // max-height: inherit;
            // width: 100%;
        }
        .slide-zoom {
            position: absolute;
            top: 0;
            height: 100%;
        }
    }
}

.service-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.3);
    .icon-back {
        color: $colorWhite;
    }
}

.price-chart {
    border-top: 1px solid $borderLightGray;
    border-bottom: 1px solid $borderLightGray;
    h5 {
        color: $colorLightGray;
        text-transform: uppercase;
        font-size: 16px;
        margin: 5px 0;
    }
}

.service-content {
    // margin: 0;
    color: $fontGray;
    font-size: 12px;
    line-height: 20px;
}

.navigator.nav-request {
    margin: 10px 0;
}

.iconNotification {
    position: relative;
    display: table;
    &:after {
        position: absolute;
        content: "1";
        top: 3px;
        right: 15px;
        background: red;
        width: 15px;
        height: 15px;
        font-size: 12px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        transform: rotate(0deg);
        display: table-cell;
        vertical-align: middle;
    }
}