page-services-home {
    .slide-temp {
        background-color: rgba(192, 192, 192, 0.8);
    }
    .service-block {
        padding: 5px 16px;
    }
}

.clear {
    clear: both;
}

.icon-back {
    // color: $colorBlack;
    font-size: 30px;
}

.tittle-name {
    font-size: 30px;
    line-height: 30px;
    .toolbar-title-md {
        color: $colorWhite;
    }
}

.slide-block {
    height: auto;
    // border-bottom: 1px solid #cacfd6;
    .slide-img.swiper-slide {
        height: 200px;
        img {
            max-height: inherit;
        }
        .slide-zoom {
            position: absolute;
            top: 0;
            height: 100%;
        }
    }
}

.service-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.3);
    .icon-back {
        color: $colorWhite;
    }
}

.price-chart {
    border-top: 1px solid $borderLightGray;
    border-bottom: 1px solid $borderLightGray;
    h5 {
        color: $colorLightGray;
        text-transform: uppercase;
        font-size: 16px;
    }
}

.service-content {
    // margin: 0;
    color: $fontGray;
    font-size: 12px;
    line-height: 20px;
}

.navigator.nav-request {
    margin: 10px 0;
}

.iconNotification {
    position: relative;
    display: table;
    &:after {
        position: absolute;
        content: "1";
        top: 3px;
        right: 15px;
        background: red;
        width: 15px;
        height: 15px;
        font-size: 12px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        transform: rotate(0deg);
        display: table-cell;
        vertical-align: middle;
    }
}