<!--
  Generated template for the MechanicPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="home-header">
    <ion-grid>
        <ion-row>
            <ion-col col-2 text-left>
                <ion-icon class="icons" ios="ios-menu" md="md-menu" menuToggle></ion-icon>
            </ion-col>
            <ion-col col-8 text-center>
                <ion-title class="title">Tasks</ion-title>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>


<ion-content padding>
    <ion-item *ngFor="let request of mechRequests" class="mechstStatus">
        <ion-avatar item-start>
            <img src="{{request.serviceImage}}">
        </ion-avatar>
        <h2 class="serviceCategory">{{request.serviceName}} Service</h2>
        <p>ID: {{request.id}}</p>
        <p>{{request.createdAt | date}}</p>
        <button (click)="goToRequest(request)" ion-button clear item-end>View</button>
    </ion-item>
    <ion-list *ngIf="showComment">
        <h4 class="empty-msg">Sorry, no Tasks assigned for You!</h4>
    </ion-list>
    <!--<ion-item *ngFor="let request of mechRequests" #item [ngClass]="request.status" class="requestStatus" (click)="goToRequest(request)">
        <ion-avatar item-start>
            <img src="{{request.serviceImage}}">
        </ion-avatar>
        <h2>{{request.serviceName}} Service</h2>
        <h4>{{request.request.Name}}</h4>
        <p>ID: {{request.id}}</p>
        <p>Date: {{request.createdAt}}</p>
        <div *ngIf="request.status=='ORDER_APPROVED'">
            <button class="button {{request.status}}a">Yet To Repair</button>
        </div>-->
    <!--</ion-item>-->

    <!--<ion-item *ngIf="showComment">
        <h4 class="empty-msg">Sorry, no Tasks assigned for You!</h4>
    </ion-item>-->
</ion-content>