page-mechanic {
    .empty-msg {
        margin-top: 20px;
        font-size: 18px;
    }
    .mechstStatus {
        padding-left: 5px;
        background: $backgroundBlue;
        border-radius: 5px;
        margin: 5px 0;
    }
    .list-md .item-block .item-inner {
        border: none;
    }
}