 body {
     font-family: 'Montserrat', sans-serif !important;
 }
 
 .btn-blue {
     background: $btnLightBlue;
 }
 
 .btn-red {
     background: $btnRed;
 }
 
 .btn-dark-blue {
     background: $btnBlue;
 }
 
 page-loginpage {
     .login-slider {
         //  background: #6945ce;
         background: linear-gradient(45deg, #6846cd, #8526e4);
         padding: 15px 0;
         -moz-border-radius: 160px / 60px;
         -webkit-border-radius: 160px / 60px;
         border-radius: 160px / 60px;
         border-top-right-radius: 0;
         border-top-left-radius: 0;
         p {
             text-align: center;
             color: #fff;
             font-size: 16px;
             padding: 10px 0;
         }
         img {
             padding: 40px;
             padding-bottom: 20px;
         }
     }
     .login-heading {
         margin-top: 50px;
         padding-top: 10px;
         h4 {
             text-align: center;
             font-weight: 700;
             font-size: 24px;
             font-family: 'Montserrat', sans-serif;
             color: $headingColor;
         }
     }
     .login-form {
         border: 1px solid #efefef;
         border-radius: 5px;
         button {
             text-transform: capitalize;
             font-family: 'Montserrat', sans-serif;
             font-size: 20px;
             margin: 0px;
             padding: 22px 0;
             width: 50%;
             border-radius: 5px;
             .social-icon {
                 text-transform: none;
                 font-size: 30px;
                 font-weight: 700;
                 margin-right: 15px;
             }
         }
         .btn-blue {
             border-top-right-radius: 0;
             border-bottom-right-radius: 0;
         }
         .btn-red {
             border-top-left-radius: 0;
             border-bottom-left-radius: 0;
         }
     }
     .terms {
         text-align: center;
         color: $colorDarkGray;
         font-size: 16px;
         .termsConditions {
             margin: 15px 0 8px 0;
         }
         a {
             color: $colorDarkGray;
             text-decoration: underline;
         }
         .meclogin {
             color: $btnRed;
             margin-top: 10px;
             display: inline-block;
         }
     }
 }