<ion-header>
    <ion-navbar>
        <ion-title>My Requests</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item-group>
        <ion-item *ngFor="let request of requests" no-lines (click)="goToStatus(request)">
            <div class="inner-request-item {{request.status}}">
            <!-- <ion-avatar item-start> -->
                <img width="60" height="60" class="status-image" src="{{request.serviceImage}}">
            <!-- </ion-avatar> -->
            <div class="status-right-service">
            <h2><b>{{request.serviceName}} Service</b></h2>
            <p>ID: {{request.id}}</p>
            <div *ngIf="request.status=='ORDER_REQUESTED'">
                 <button class="button {{request.status}}a">PENDING</button>
            </div>
            <div *ngIf="request.status=='ORDER_CANCELLED'">
                 <button class="button {{request.status}}a">CANCELED</button>
                </div>
            <div *ngIf="request.status=='ORDER_DECLINED'">
                <button class="button {{request.status}}a">DECLINED</button>
            </div>
            <div *ngIf="request.status=='ORDER_CLOSED'">
                <button class="button {{request.status}}a">CLOSED</button>
            </div>
            <div *ngIf="request.status=='ORDER_APPROVED'">
                <button class="button {{request.status}}a">ACCEPTED</button>
            </div>
        </div>
    </div>
        </ion-item>
    </ion-item-group>
</ion-content>