<ion-header class="home-header">
    <ion-grid>
        <ion-row>
            <ion-col col-2 text-left (click)="goBack()">
                <ion-icon class="icons" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </ion-col>
            <ion-col col-8 text-center>
                <ion-title class="title">My Requests</ion-title>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content>
    <ion-item-group>
        <ion-item *ngFor="let request of requests" (click)="goToStatus(request)">
            <ion-avatar item-start>
                <img src="{{request.serviceImage}}">
            </ion-avatar>
            <h2>Request For <b>{{request.serviceName}}</b> Service</h2>
            <p>#id:{{request.id}}</p>
            <div *ngIf="request.status=='ORDER_REQUESTED'">
                <p>Your Request is pending.</p>
            </div>
            <div *ngIf="request.status=='ORDER_DECLINED'">
                <p>Your Request is declined.</p>
            </div>
            <div *ngIf="request.status=='ORDER_ACCEPTED'">
                <p>Your Request is accepted.</p>
            </div>
        </ion-item>
    </ion-item-group>
</ion-content>