page-mechlogin {
    .profile-fields {
        .item-md {
            padding-left: 0;
            min-height: auto;
            &:last-child {
                .item-inner {
                    border-bottom: 1px solid $borderGray;
                }
            }
        }
        .machLogin {
            margin-top: 0;
        }
    }
    .ion-menu-top {
        .item-md {
            .item-inner {
                padding-left: 16px;
            }
        }
    }
}

.slide-zoom {
    .item-md {
        padding-left: 16px;
    }
}